DROP ROLE IF EXISTS ${TESTPROJECT_USER};

CREATE ROLE ${TESTPROJECT_USER} WITH LOGIN PASSWORD '${TESTPROJECT_PASSWORD}';

GRANT CONNECT ON DATABASE ${POSTGRES_DB} TO ${TESTPROJECT_USER};
GRANT USAGE, CREATE ON SCHEMA public TO ${TESTPROJECT_USER};

GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA public TO ${TESTPROJECT_USER};
-- нужен для автоматической выдачи прав на новые таблицы
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO ${TESTPROJECT_USER};